body { margin: 0;}
h1 { background: #77A; color: #FFF; margin: 0;}
h2 {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 5px #89A;
  -moz-box-shadow: 5px 5px 5px #89A;
  -webkit-box-shadow: 5px 5px 5px #89A;
}

#content {
  margin: 10px;
  }
