<html>
<head>
  <title>Highscores</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<h1>Highscores</h1>
<a href="/">Home</a>
<div id="content">
<%= yield %>
</div>

</body>
</html>

